.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: $daveys-gray;
    .landingInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 2;
        letter-spacing: 1;
        width: 100%;
        height: 50%;
        opacity: 0.8;
        position: absolute;
        top: 40%;
        .header-info {
            text-align: center;
            .headerTitle {
                font-size: 2.5em;
            }
            .sub-heading {
                font-size: 1.5em;
            }
            .paragraphInfo {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 200px;
            padding-right: 200px;
            }
        }
        
    }
    .signInContainer {
        border: 5px solid orange;
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 500px;
        background-color: $bg-gray;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .switch {
            display: flex;
            flex-direction: row;
            width: 82%;
            margin-top: 25px;
            margin-left: 40px;
            .signIn {
                font-size: 2em;
                padding: 2px;
                color: $font-color;
                &:hover {
                    border-bottom: 5px solid black;
                }
            }
            .register {
                font-size: 2em;
                margin-left: auto;
                color: $font-color;
                &:hover {
                    border-bottom: 5px solid black;
                }
            }
        }
        .image-wrapper{
            text-align: center;
            margin-top: 25px;
        }
        .input-wrapper {
         @include flex();
         flex-direction: column;
            input[type=text] {
                // margin-top: 45px;
                border: 3px solid orange;
                height: 25px;
            }
            input[type=password]{
                border: 3px solid orange;
                
            }
            input {
                margin-top: 15px;
                margin-left: 15px;
                width: 195px;
                height: 25px;
                border: 3px solid orange;
                padding: 1.3em 1.3em;
                border-radius: 30px;
            }
            label {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.3em;
                color: rgb(255, 157, 0)
            }
          
        }
        .sign-btn {
           margin-left: auto;
           margin-right: 40px;
           margin-top: 20px;
            text-align: center;
            width: 100px;
            height: 65px;
            background-color: $font-color;
            color: $black;
            border-radius: 50%;
            font-size: 20px;
            &:hover {
                background-color: $black;
                color: $font-color;
            }
        }
    }
    .picture-slider {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%,60%);
        
        
    }
}
.login-animation-container {
    cursor: pointer;
  h1 {
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $black;
    font-weight: 900;
    font-size: 5em;
    position: absolute;
    top: 0%;
    left: 30%;
    text-align: center;
    span {
      opacity: 0;
      display: inline-block;
      animation: animate 1s linear forwards;
      -webkit-animation: animate 1s linear forwards;
      &:nth-child(1) {
        animation-delay: 0.5s;
      }&:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 1.5s;
      }
      &:nth-child(4) {
        animation-delay: 2s;
      }
      &:nth-child(5) {
        animation-delay: 2.5s;
      }
      &:nth-child(6) {
        animation-delay: 3s;
      }
      &:nth-child(7) {
        animation-delay: 3.5s;
      }
      &:nth-child(8) {
        animation-delay: 4s;
      }
      &:nth-child(9) {
        animation-delay: 4.5s;
      }
    }
  }
}
.home-wrapper{
    background-image: url('../styles/images/landingPageImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
    width: 75%;
    height: 80%;
}